<div class="half">
    <table class="table-inv">
        <tr>
            <td colspan="2">
                <center>
                    <h3>Register a new order.</h3>
                </center>
            </td>
        </tr>
        <tr>
            <td>Client</td>
        </tr>
    </table>
</div>
<div class="half">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="">Productos</th>
            </tr>
            <tr>
                <th>Dish</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody ng-repeat="dish in dishes">
            <tr ng-click="addDishToOrder(dish.id)">
                <td ng-bind="dish.name"></td>
                <td ng-bind="dish.price"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-bordered table-tablet"></table>

</div>

<div class="black-back"></div>