<div class="half">
    <table class="table-inv table-tablet">
        <tr>
            <td colspan="2">
                <center>
                    <h3 style="margin-top:7px">Insert a table id.</h3>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" ng-disabled="!selecting" class="form-control" ng-model="tableId">
            </td>
            <td>
                <button type="button" class="btn btn-success form-control" ng-click="selecting?setTableIdForCart():enableSelectionForTable()">
                    <label ng-bind="selecting?'Select':'Select again'"></label>
                </button>
            </td>
        </tr>
        <tr ng-if="err"><td colspan="2"><center><label class="text-danger" ng-bind="err"></label></center></td></tr>
    </table>
</div>
<div class="half">
    <table class="table table-hover table-bordered table-tablet">
        <thead>
            <tr class="active">
                <th>Dish</th>
                <th>Price</th>
                <th style="width:30px!important">Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dish in dishes">
                <td ng-bind="dish.name"></td>
                <td ng-bind="dish.price | money"></td>
                <td style="width:100px!important"><input style="width:90px" class="form-control" type="text" ng-init="dish.amount=1" ng-model="dish.amount"></td>
                <td>
                    <button ng-disabled="selecting" type="button" class="btn btn-success" ng-click="addToCart(dish)">
                        Add to Cart
                    </button>
                </td>
            </tr>
            <tr><td colspan="4"><center><label class="text-success" ng-bind="msg"></label></center></td></tr>
        </tbody>
    </table>
    
</div>

<div>
    <table class="table">
        <thead>
            <tr class="active">
                <th style="width:240px"></th>
                <th>Dish</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dishOrder in cart.dishes">
                <td style="width:240px">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger" ng-click="removeFromCart(dishOrder)">
                                Remove from order
                            </button>
                        </div>
                        <input type="text" class="form-control" ng-init="dishOrder.removeAmount=1" ng-model="dishOrder.removeAmount" >
                    </div>
                </td>
                <td ng-bind="dishOrder.dish.name"></td>
                <td ng-bind="dishOrder.dish.price | money"></td>
                <td ng-bind="dishOrder.amount"></td>
                <td ng-bind="dishOrder.dish.price*dishOrder.amount | money"></td>
            </tr>
            <tr ng-if="cart">
                <td colspan="2">
                    <button type="button" class="btn btn-danger form-control" ng-click="cancelCart()">Delete the order</button>
                </td>
                <td colspan="2">
                    <button type="button" class="btn btn-success form-control" ng-click="saveCart()">Save order</button>
                </td>
                <td ng-bind="cart.subtotal | money"></td>
            </tr>
        </tbody>
    </table>
</div>